:host {
  display: grid;
  grid-template-rows: 10vh 60vh 30vh;
  grid-template-columns: 100vw;
  place-content: center;
}

h1 {
  place-self: center;
  margin: 0;
  padding: 0;
}

#globeDiv {
  place-self: center;
  height: 60vh;
}

#globe {
  width: auto;
  height: 100%;
}


#graph {
  height: 30vh;
}
