:host {
  display: grid;
  grid-template-rows: 100px 1fr 50px 200px;
  grid-template-columns: 100vw;
  place-content: center;
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
  place-self: center;
  margin: 0;
  padding: 0;
}

#globeDiv {
  place-self: center;
  height: calc(100vh - 100px - 50px - 200px);
}

#globe {
  width: auto;
  height: 100%;
}

#graphDiv {
  display: grid;
  place-content: center;
  margin: 32px;
}
