:host {
  position: relative;
  height: 100vh;
  width: 100vw;
}

h1 {
  position: absolute;
  text-align: center;
  margin: 12px;
  width: calc(100vw - 24px);
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

#globe {
  position: absolute;
}

#sliderDiv {
  position: absolute;
  width: calc(100vw - 2em);
  margin-left: 1em;
  margin-right: 1em;
  bottom: 200px;
}

mat-slider {
  width: 100%;
}

#graphDiv {
  position: absolute;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  bottom: 0;
  height: 200px;
  width: calc(100vw - 2em);
}

#palette {
  position: absolute;
  right: 1em;
  bottom: 248px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}
