@import '~@angular/material/theming';

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, Open Sans, Roboto, monospace'
);

@include mat-core($custom-typography);

$earth-timelapse-primary: mat-palette($mat-indigo);
$earth-timelapse-accent: mat-palette($mat-pink, A200, A100, A400);
$earth-timelapse-warn: mat-palette($mat-red);
$earth-timelapse-theme: mat-light-theme($earth-timelapse-primary, $earth-timelapse-accent, $earth-timelapse-warn);

$theme: $earth-timelapse-theme;

@include mat-core-theme($theme);
@include mat-autocomplete-theme($theme);
@include mat-input-theme($theme);
@include mat-button-theme($theme);
@include mat-form-field-theme($theme);
@include mat-progress-spinner-theme($theme);
@include mat-snack-bar-theme($theme);
@include mat-slider-theme($theme);


html, body { height: 100%; }
body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
